@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

body {
  font-family: "Poppins";
  color: #eeeeee;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  text-align: center;
  background: radial-gradient(#6f039d, #320177, rgb(0, 0, 0));
}

main {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 3rem;
  height: 1fr;
  display: flex;
  justify-content: space-evenly;
}

section {
  width: max-content;
  margin: 1rem;
}

p,
div {
  font-size: 0.7rem;
}

h2 {
  animation: neon 3s ease-in-out infinite;
  color: white;
}

@keyframes neon {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}

.cards {
  width: fit-content;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, .5fr));
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.348);
  background: linear-gradient(#7700ff, #005eff 160%);
  width: 100%;
}

button {
  margin: 1rem 0;
  padding: 0.8rem;
  background: radial-gradient(rgba(204, 0, 255, 0.808), rgba(109, 38, 251, 0.515));
  border: 2px white dotted;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: radial-gradient(rgba(109, 38, 251, 0.515), rgba(47, 0, 255, 0.808));
}

input {
  text-align: center;
  background: radial-gradient(rgba(84, 17, 131, 0.515), rgba(68, 8, 121, 0.808));
  color: #ffffff;
  font-weight: 600;
}

input::placeholder {
  color: #ffffff8c;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #7800cd;
  border-left: 8px solid #ff12f7;
  border-bottom: 8px solid #f58eea;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.calendario {
  height: 500px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  margin: 1rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.box {
  background-color: rgba(255, 200, 133, 0.649);
  color: rgb(37, 37, 37);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  border: 2px solid #6600ffa2;
  border-radius: 5px;
  min-height: 3rem;
  width: 8rem;
}

li {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd30e94;
  margin: 0.2rem;
  padding: 0.05rem;
  font-size: .7rem;
  width: fit-content;
}

a{
  font-size: .9rem;
  font-weight: 600;
  padding-left: .5rem;
}

#result {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 0px 0px 10px #007bff, -4px -4px 20px #109bc6;
}

.empty {
  background-color: rgba(128, 128, 128, 0);
  border: none;
}

.domingo {
  background-color: rgba(255, 81, 81, 0.647);
}

option, select, input, textarea  {
  text-align: start;
  background-color: #e24f00;
  color: white;
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
}